* {
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 1px;
}

:root {
  --primary-color: #00467f; /* Deep Blue */
  --accent-color: #7ba729; 
}


h1 {
  font-weight: 600 !important;
}

.custom-nav-bar{
  --bs-dropdown-link-active-bg:var(--accent-color) !important;
}

.sticky-top{
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;  
}

/* Image Text */
.image-text-background{
  position: absolute;
  top: 0%;
  width:100%;
  height:100%;
  background-color: #00467f87;
}

.image-text{
  position: absolute;
  color: white;
  left: 5%;
  top: 45%;
  margin: 2rem;
}

@media (max-width: 767px) {
  .image-text{
    position: relative;
    top: 10%;
    left: 0%;
    margin: 2rem;
  }
}

.primary-background{
  background-color: var(--primary-color);
  color: white;
}

.white-background{
  background-color: white;
  color: black;
}

.center{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.center-space{
  padding-bottom: 1rem;
}

.center-title{
  text-align: center;
}

/* ImageBlock */
.underline-blue{
  border-bottom-style: solid;
  border-bottom-width: .75rem;
  border-bottom-color: var(--primary-color);
}

.underline-green{
  border-bottom-style: solid;
  border-bottom-width: .75rem;
  border-bottom-color: var(--accent-color);
}

/* .photo-text{
  display: flex;
  justify-content: center;
  padding: .5rem;
  margin: auto;
} */

/* Practices Card Flip Animation */
.info-box-1{
  border: .01px solid white;
  border-radius: 30px;
  margin: 1rem;
  width: 17.5rem;
  height: 18rem;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.top-card{
  align-content: center;
  /* border-radius: 30px; */
  padding: 0rem 2rem;
  color: #00467f;
  background-color: white;
}

.flip{
  transition: all .6s ease-in-out;
  transform-style: preserve-3d;
  position:absolute;
  width: 100%;
  height: 100%;
}

.bottom-card{
  padding: 1rem;
  /* border-radius: 30px; */
  top: 0%;
  background-color: white;
  color: var(--primary-color);
}

.info-box-1:hover .flip-back{
  transform: translateX(0) translateY(-100%);
}


/* Practices */
.practices{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.practice-box{
  display: flex;
  margin: 1rem;
  width: 45%;
}

.practice-box a{
  color: white;
  text-decoration: none;
  text-align: left;
}

@media (max-width: 767px) {
  .practice-box{
    width: 100%;
    justify-content: center;
  }
}

/* Change color of image to white */
.image-color-white {
  filter: grayscale(100%) sepia(100%) invert(100%) brightness(1000%);
}


/* */

/* right/left split boxes */
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-flex-box{
  justify-content: left;
  width: 40%;
  align-content: center;
  background-color: black;
}

.left-flex-box-2{
  justify-content: left;
  width: 35%;

}

.left-flex-box-3{
  justify-content: left;
  width: 25%;
}

.right-flex-box{
  justify-content: right;
  width: 60%;
}

.right-flex-box-3{
  justify-content: right;
  width: 75%;
}

.right-flex-box-4{
  justify-content: right;
  width: 70%;
}
@media (max-width: 767px) {
  .right-flex-box{
    width:100%;
  }
  .left-flex-box{
    width:100%;
  }
  .left-flex-box-2{
    width:100%;
  }
  .left-flex-box-3{
    width: 100%;
  }
  .right-flex-box-3{
    width: 100%;
  }
  .right-flex-box-4{
    width: 100%;
  }
}

/* Carousel */

.carousel-fact-box{
  background-color: var(--accent-color);
  padding: 4vw 6vw 4vw 6vw;
  /* width: 33rem; */
  color: white;
  height: 23rem;
  text-align: center;
}
.carousel-fact-box h1{
  font-size: 7rem;
}

.carousel-fact-box h2{
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .carousel-fact-box {
    align-content: center;
  }
  .carousel-fact-box h1{
    font-size: 6rem;
  }
}

.slide-container{
  max-width: 33rem;
  max-height: 25rem;
}

/* Our Team */
.photo-text{
  display: flex;
  justify-content: center;
  padding: .5rem;
  margin: auto;
}

.photo-card{
  width: 14rem;
  margin: 1rem .5rem;
  border: black solid;
  color: black;
}

/* Careers Page */

.text-padding{
  padding: 3rem 5rem 3rem;
}

.custom-accordian {
  --bs-accordion-active-bg: var(--accent-color) !important;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #4e6a1a !important;
  --bs-accordion-active-color: white !important;
  /* --bs-accordion-btn- */
}
/* Wechat Popup */
.wechat-pop-up{
  position: fixed;
  top: 30%;
  left: 40%;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

/* Legal Services */
@media (max-width: 767px) {
  .disappear-when-small{
    display: none;
  }
}

.law-types-btn-container{
  padding: 8rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 15%;
}
.law-types-btn{
  width: 100%;
  height: 4rem;
  /* margin: 1rem 0 0 0; */
  background-color: var(--accent-color);
  color: white;
}

/* Contact Us */
.contact-us-card{
  width: 27%;
  margin: 1rem;
  border: .2rem solid var(--accent-color);
  padding: 1rem;
  text-decoration: none;
  color: black;
}

.locate-us-card{
  width: 22%;
  margin: 1rem;
  border: .2rem solid var(--accent-color);
  padding: 1rem;
  text-decoration: none;
  color: black;
}

@media (max-width: 767px) {
  .contact-us-card{
    width: 100%;
  }
  .locate-us-card{
    width: 100%;
  }
}

/* Payment */ 
.payment-card-left{
  width: 35%;
  margin: 5%;
  padding: 0 3rem;
  border-left: .7rem groove var(--accent-color);
  border-top: .7rem groove var(--accent-color);
  padding: 3rem;
}

.payment-card-right{
  width: 45%;
  margin-left: 45%;
  margin-right: 5%;
  margin-top: -12%;
  margin-bottom: -12%;
  border-right: .7rem groove var(--accent-color);
  border-top: .7rem groove var(--accent-color);
  padding: 3rem;
}

/* CLEAN */


.overlay-facts{
  position: absolute;
  top: 50%;
  left: 40%;
}

.small-text-padding{
  padding: 1rem;
}

.hide-on-small-screen {
  display: block; /* Default display */
}

@media (max-width: 767px) {
  .hide-on-small-screen {
      display: none; /* Hide on small screens */
  }
}
.law-list-1{
  width: 45%;
}
.law-list-2{
  width: 40%;
}
.law-list-3{
  width: 30%;
}
.law-list-4{
  width: 25%;
}
.law-list-5{
  width: 20%;
}


@media (max-width: 767px) {
  .law-list-1{
    width: 100%;
  }
  .law-list-2{
    width: 100%;
  }
  .law-list-3{
    width: 100%;
  }
  .law-list-4{
    width: 100%;
  }
  .law-list-5{
    width: 100%;
  }
}

.footer-button {
  --bs-btn-bg: #83c5be !important;
  --bs-btn-hover-border-color: #83c5be !important;
  margin-right: 3rem !important; 
}

@media (max-width: 767px) {
  .footer-button{
    margin: 0 5rem !important;
  }
}

@media (max-width: 767px) {
  .expand-width{
    width: 100%;
    padding-left: 0rem;
  }
}


.over-image-background {
  position: absolute;
  top: 0%;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.over-image-text {
  position: relative;
  top: 0%;
  flex-direction: column;
  display: flex;
  opacity: 1;
  justify-content: center;
  /* padding: 2rem; */
  color:white;
}

.location-image{
  display: block;
}
@media (max-width: 767px) {
  .location-image{
    display:none;
  }
  .over-image-text{
    flex-direction: column;
    display: flex;
    justify-content: center;
    /* padding: 2rem; */
    color:white;
  }
  .over-image-background {
    position:static;
    padding: 2rem;
    width: 100%;
    height: auto;
    background-color: var(--accent-color);
  }
}