* {
  font-family: 'Garamond', serif;
}

/* Image Text */
.overlay{
  position: absolute;
  top: 40%;
  left: 5%;
  padding: 2rem;
}

.image-text-background{
  background-color: rgba(166, 166, 166, 0.724);
}

.center{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.center-space{
  padding-bottom: 1rem;
}

.center-title{
  text-align: center;
}

/* ImageBlock */
.underline-blue{
  border-bottom-style: solid;
  border-bottom-width: .75rem;
  border-bottom-color: #00467f;
}

.underline-gray{
  border-bottom-style: solid;
  border-bottom-width: .75rem;
  border-bottom-color: lightgray;
}

/* .photo-text{
  display: flex;
  justify-content: center;
  padding: .5rem;
  margin: auto;
} */

/* Practices Card Flip Animation */
.info-box-1{
  border: .01px solid white;
  margin: 1rem;
  width: 17.5rem;
  height: 18rem;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.top-card{
  align-content: center;
  padding: 0rem 2rem;
  color: #00467f;
  background-color: white;
}

.flip{
  transition: all .6s ease-in-out;
  transform-style: preserve-3d;
  position:absolute;
  width: 100%;
  height: 100%;
}

.bottom-card{
  padding: 1rem;
  top: 0%;
  background-color: #00467f;
  color: white;
}

.info-box-1:hover .flip-back{
  transform: translateX(0) translateY(-100%);
}

/* Change color of image to white */
.image-color-white {
  filter: grayscale(100%) sepia(100%) invert(100%) brightness(1000%);
}


/* */

/* right/left split boxes */
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-flex-box{
  justify-content: left;
  width: 40%;
  align-content: center;
  background-color: lightgray;
}

.left-flex-box-2{
  justify-content: left;
  width: 35%;

}

.right-flex-box{
  justify-content: right;
  width: 60%;
}

@media (max-width: 767px) {
  .right-flex-box{
    width:100%;
  }
  .left-flex-box{
    width:100%;
  }
  .left-flex-box-2{
    width:100%;
  }
}

/* Carousel */

.carousel-fact-box{
  background-color: lightgray;
  padding: 4vw 6vw 4vw 6vw;
  /* width: 33rem; */
  height: 23rem;
  text-align: center;
}
.carousel-fact-box h1{
  font-size: 7rem;
}

.carousel-fact-box h2{
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .carousel-fact-box {
    align-content: center;
  }
  .carousel-fact-box h1{
    font-size: 6rem;
  }
}

.slide-container{
  max-width: 33rem;
  max-height: 25rem;
}

/* Our Team */
.photo-text{
  display: flex;
  justify-content: center;
  padding: .5rem;
  margin: auto;
}

.photo-card{
  width: 10rem;
  margin: 1rem .5rem;
  border: black solid;
  color: black;
}

/* CLEAN */
.text-padding{
  padding: 3rem 5rem 3rem;
}

.overlay-facts{
  position: absolute;
  top: 50%;
  left: 40%;
}

.small-text-padding{
  padding: 1rem;
}

.hide-on-small-screen {
  display: block; /* Default display */
}

@media (max-width: 767px) {
  .hide-on-small-screen {
      display: none; /* Hide on small screens */
  }
}
.law-list-1{
  width: 45%;
}
.law-list-2{
  width: 40%;
}
.law-list-3{
  width: 30%;
}
.law-list-4{
  width: 25%;
}
.law-list-5{
  width: 20%;
}


@media (max-width: 767px) {
  .law-list-1{
    width: 100%;
  }
  .law-list-2{
    width: 100%;
  }
  .law-list-3{
    width: 100%;
  }
  .law-list-4{
    width: 100%;
  }
  .law-list-5{
    width: 100%;
  }
}


.custom-accordian {
  --bs-accordion-active-bg: #E29578 !important;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #e29578 !important;
}

.footer-button {
  --bs-btn-bg: #83c5be !important;
  --bs-btn-hover-border-color: #83c5be !important;
  margin-right: 3rem !important; 
}

@media (max-width: 767px) {
  .footer-button{
    margin: 0 5rem !important;
  }
}

@media (max-width: 767px) {
  .expand-width{
    width: 100%;
    padding-left: 0rem;
  }
}


.over-image-background {
  position: absolute;
  top: 0%;
  padding: 2rem;
  /* width: 40%; */
  height: 100%;
  background-color: rgba(128, 128, 128, 0.75);;
}

.over-image-text {
  position: relative;
  top: 0%;
  flex-direction: column;
  display: flex;
  opacity: 1;
  justify-content: center;
  /* padding: 2rem; */
  color:white;
}

.location-image{
  display: block;
}
@media (max-width: 767px) {
  .location-image{
    display:none;
  }
  .over-image-text{
    flex-direction: column;
    display: flex;
    justify-content: center;
    /* padding: 2rem; */
    color:white;
  }
  .over-image-background {
    position:static;
    padding: 2rem;
    width: 100%;
    height: auto;
    background-color: rgba(128, 128, 128);;
  }
}